@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?urh6eo');
  src:  url('fonts/icomoon.eot?urh6eo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?urh6eo') format('truetype'),
    url('fonts/icomoon.woff?urh6eo') format('woff'),
    url('fonts/icomoon.svg?urh6eo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dollar:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e900";
}
.icon-minus:before {
  content: "\e901";
}
.icon-right-arrow:before {
  content: "\e902";
}
.icon-left-arrow:before {
  content: "\e903";
}
.icon-circle:before {
  content: "\e905";
}
.icon-shopping-bag:before {
  content: "\e906";
}
.icon-shopping-cart:before {
  content: "\e93a";
}

.icon-05x{
  font-size: 0.5rem;
}

.icon-3x{
	font-size: 3rem;
}
