.product__imgage-container{
    height: 14rem;
}

.product__image{
    transition: all 0.5s ease-in-out;
}

.product-container:hover .product__image{
    transform: scale(1.2);
}

.product-container:hover .product__name{
    color: green;
}