:root {
  --bg-dark: #121212;
  --color-white: #fff;
  --main-color: #80B505;
}

body {
  background-color: var(--bg-dark);
  color: var(--color-white);
  /* font-family: sans-serif; */
}

* {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
  width: 100%;
}

.main-header{
  height: 4rem;
  background-color: var(--bg-dark);
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
}

.main-content{
  padding-top: 4rem;
}
.bg-main-color{
  background-color: var(--main-color);
}

.bg-trans{
  background-color: transparent;
}

.c-green{
  color: var(--main-color);
}

.c-white{
  color: white;
}
/* padding */
.p-03rm{
  padding: 0.3rem;
}

.p-05rm{
  padding: 0.5rem;
}


.over-hidden{
  overflow: hidden;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}